.item {
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 100px;
  font-style: bold;  
  height: 200px;
  min-width: 250px;
  padding-top: 40px;
  width: 80%;  
}

.back {
  background-color: #DB0A5B;
}
.back span {
  color: #FFFFFF;
}